In [ ]:
print("Hello world ")

Hello world

In [ ]:
print("Welcome back! Asad ") #There is no need to type long code for print


# Any type of data type can be printed in it

Welcome back! Asad

In [ ]:
#Example
print("India",22,True) #In this there are different type of data type

India 22 True

In [ ]:
print( ) #One can learn about different type of parameter in the print() function

#Example

print("HEllo","Asad" ,sep="#")

HEllo#Asad

DATA TYPES IN PYTHON

There are 3 different types of Data types
1. Basic Data Type = (Integer, Float, Complex, Boolean, String)
2. Container type = (List, Tuples, Sets, Dictionaries)
3. User Defined Types = (Class)

In [ ]:
# Basic Type

print( "This is integer: ", 9)

print( "This is Float: ", 9.65)

print( "This is Complex: ", 9+5j)

print( "This is Boolean: ", True, False )

print( "This is String: ", "Hello This is string")

This is integer:  9
This is Float:  9.65
This is Complex:  (9+5j)
This is Boolean:  True False
This is String:  Hello This is string

In [ ]:
#Container Types

print( "This is List: ",["Hello This String is inside list",4,5,5]) #Square bracket

print( "This is Tuple: ",("Hello This String is inside list",4,5,5)) #Small bracket

print( "This is Set: ",{"Hello This String is inside list",4,5,5}) #Curly bracket

print( "This is Dictionary:",{"Asad":"Student", "Age":20} ) #Curly bracket, Key Value Pairs

This is List:  ['Hello This String is inside list', 4, 5, 5]
This is Tuple:  ('Hello This String is inside list', 4, 5, 5)
This is Set:  {'Hello This String is inside list', 4, 5}
This is Dictionary: {'Asad': 'Student', 'Age': 20}

In [ ]:
 # USer Defined Type

 #Will Cover this data type later

COMMENTS

Code which is not executable by compiler or interpreter <br>
Comments are written to enhance the readability of the code

<br> One can not write multi line comments in python

VARIABLES: Containers


DYNAMIC TYPING: At the time of creation of variable when there us no need to Declare the variable( Data type)


Static typing : Declartaion of variable before creating them( declaring the data type, for example: int a= 3)

Dynamic Binding: One variable can use the different type of data type

Static Binding: Opposite of dynamic binding

In [ ]:
#In python there is no declaration of variable

Name= "Asad"
Age= 21

print(Name,Age)

Asad 21

In [ ]:
a,b,c=4,3,2

r=e=d=6

print(d)

6

KEYWORDS:

KEywords are the resevered words which can not be used in coding , there are 36  keywords in python. For example: False, True, etc.

In [ ]:
import keyword
print(keyword.kwlist) # this will print all the types of keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

IDENTIFIERS: A name used to identify a variable, function, class, module or other object

**Rules for Naming an Identifier:**<br>
Identifiers cannot be a keyword. <br>
Identifiers are case-sensitive.<br>
It can have a sequence of letters and digits. However, it must begin with <br>
a letter or _. The first letter of an identifier cannot be a digit.<br>
It's a convention to start an identifier with a letter rather _.<br>
Whitespaces are not allowed.<br>
We cannot use special symbols like !, @, #, $, and so on.<br>

In [ ]:
# TAKING USER INPUT
input()

USER INPUT: Taking any input from user, the default format for input is "String"

there are 2 types of softwares in the world
1. Static - One way software| Communicate through uni directional way.. only software communicates with user
2. Dynamic Softwarre- 2 Way communication where user give input and sees the output | In easy language talking to software

In [ ]:
a= input("Enter Your name: ")

print(a)

Enter Your name: Asad
Asad

In [ ]:
# TAKING INPUT FROM USER AND ADDING THEM

a= int(input("Enter First Num: "))
b= int(input("Enter Second Num: ")) #Converting one date type to another is called Type conversion

#Implicit - WHen Python automatically does the conversion eg- float
#EXplicit - When user do conbersion of data type eg- int('455
)

sum= a+b


print("The Sum of First and Second Num is: ",sum)


print(type(a))

Enter First Num: 5
Enter Second Num: 5
The Sum of First and Second Num is:  10
<class 'int'>

LITERAL - Raw Data Given to variable

1. Numeric
2. STring
3. Boolean
4. Special

In [ ]:
#Numeric Literal
a= 0b1010 #Through binary
b = 100 #Decimal
# print(a+b)

#Float Literal
f1= 10.5 #Decimal
f2= 1,5e-3
# print(f2)

#Boolean Literal

#String literal
s= "hello"
multiline = '''hello '''
# print(multiline)

#Boolean Literal
b1= True
b2 = False
# print(b1+3)


#Special Literal

a= None # Since there is no variable declaration in python
#So we use None to use the variable latter (Declaration of Variable)

OPEARATORS - Used to performs operations on variables and values

1. Arithmetic
2. Comparision
3. Logical
4. Bitwise
5. Assignment
6. Identity
7. Membership

In [ ]:
#Arithmetic
a=2
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

8
-4
12
0.3333333333333333
64

In [ ]:
#Comparision Operators

print(a>b)
print(a<b)
print(a==b)
print(a>=b)
print(a<=b)
print(a!=b)

False
True
False
False
True
True

In [ ]:
#Logical operators
x= True
y= False

print(x or y)
print(x and y)
print( not x)

True
False
False

In [ ]:
#Bitwise operators - THese always works on binary values

In [ ]:
#Assignment Operatos
a=3
print(a)
a=a+3
print(a)
a+=3


#IDentity operator "is"

a = "Hello"
b= "Hello"
print(a is b)


print("e" in a)
print("Smile" in a)


#MEmbership operaot (not in)
print("Smile" not in a)

3
6
True
True
False
True

IF ELSE STATEMENTS:

In [ ]:
#Corrct Credentials are-
# Email= "codpython11@gmail.com"
# Password= "123"


Email = input("Enter your Email: ")


if "@" in Email:

  Password=input("Enter your Password: ")


  if  Email== "codpython11@gmail.com" and Password == "123":
    print("Successfully logged in!")

  elif Email== "codpython11@gmail.com" and Password != "123":
    print("Password Incorrect")
    Password=input("ENter password again: ")
    if Password=="123":
      print("Finally correct")
    else:
      print("Pass is wrong")


  else:
    print("Incorrect Details")



  else:
  print("Re enter email")

SyntaxError: invalid syntax (<ipython-input-6-5ad98d161a7d>, line 31)

In [ ]:
#Corrct Credentials are-
# Email= "codpython11@gmail.com"
# Password= "123"


Email = input("Enter your Email: ")


if "@" in Email:

  Password=input("Enter your Password: ")


  if  Email== "codpython11@gmail.com" and Password == "123":
    print("Successfully logged in!")

  elif Email== "codpython11@gmail.com" and Password != "123":
    print("Password Incorrect")
    Password=input("ENter password again: ")
    if Password=="123":
      print("Finally correct")
    else:
      print("Pass is wrong")


  else:
    print("Incorrect Details")



else:
  print("Re enter email")

Enter your Email: asadgmai.com
Re enter email

Indentation in python:

if name =="Asad"  and Las_name="Asad":
  print("asad)
else:
  print(nothing)

In [ ]:
#Indentation in python:

name = "Asad"
las_name= "K"

if name =="Asad"  and las_name=="Aasad":
  print("asad")
else:
  print("nothing")

nothing

WHILE LOOP:

Showcasing the product on the website, for example: if a website has 30 products , so it one while loop will fetch date from data store and run 30 times for that.

<br>
There are only 2 types of loops
1. WHile loop:

2. For loop

In [ ]:
number= int(input("ENter the number "))


i= 1

while i<11:
  print(number,"X",i,"=",number*i)
  i+=1